@page "/"

<h1>Hello, world!</h1>

Welcome to the JSopX&trade; .NET MAUI Hybrid Core Open Project EXperience; an application combining native and web components for cross-platform mobile and desktop development. This is just the bare minimum Phase 1 MVP (by design).
